
 <ion-header>
  <ion-toolbar mode="ios">
      <ion-title>
          PAYTM
      </ion-title>
      <ion-icon slot="end" name="notifications"></ion-icon>
      <ion-buttons slot="start">
          <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
   
    <ion-toolbar>
      
      <ion-buttons slot="secondary" >
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="secondary" (click)="openFirst()">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
    <ion-row>
    
  </ion-row>
<br>
<fieldset>
<ion-grid>
    <ion-row>
      <ion-col size="3" size-lg="3">
        <div class="box-style" (click)="gotoDashboard()">
          <img src="assets\img\pay.png" width="30" height="30">
          <p>Pay</p>
        </div>
      </ion-col>
      <ion-col size="3" size-lg="3">
        <div class="box-style" (click)="gotoDashboard()">
          <img src="assets\img\upi.png" width="30" height="30">
          <p>UPI</p>
        </div>
      </ion-col>
      <ion-col size="3" size-lg="3">
        <div class="box-style" (click)="gotoDashboard()">
          <img src="assets\img\passbook.png" width="30" height="30">
          <p>PayTm Wallet</p>
        </div>
      </ion-col>
      <ion-col size="3" size-lg="3">
        <div class="box-style" (click)="gotoDashboard()">
          <img src="assets\img\postpaid.jpg" width="30" height="30">
          <p>paytm postpaid</p>
        </div>
      </ion-col>
  </ion-row>
</ion-grid>
</fieldset>
<br>
<br>
<br>
 <ion-input><ion-col> <img src="assets\img\electricity.png" style="width: 30px; height: auto;margin-top: -10px;"><h3>GET RS.1000 Cashback On Auto / Taxi RIDES !</h3> </ion-col> </ion-input>
<fieldset>

 <legend><h3>RECHARGE AND BILL PAYMENT</h3></legend>
<ion-grid>
  <ion-row>
    <ion-grid>
      <ion-row>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\ticket.png" width="30" height="30">
            <p>Pay</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\shopping.png" width="30" height="30">
            <p>UPI</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\dth.jpg" width="30" height="30">
            <p>PayTm Wallet</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\electricity.png" width="30" height="30">
            <p>paytm postpaid</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\mobile postpaid.jpg" width="30" height="30">
            <p>Pay</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\games.png" width="30" height="30">
            <p>UPI</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\gold.jpg" width="30" height="30">
            <p>PayTm Wallet</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\pay.png" width="30" height="30">
            <p>paytm postpaid</p>
          </div>
        </ion-col> <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\plane.png" width="30" height="30">
            <p>Pay</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\movie tickets.jpg" width="30" height="30">
            <p>UPI</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\events.png" width="30" height="30">
            <p>PayTm Wallet</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\more.png" width="30" height="30">
            <p>paytm postpaid</p>
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>
  
  </ion-row>
</ion-grid>


  <ion-grid>
  <ion-row>
   

  </ion-row>
  
</ion-grid>
</fieldset>
<br>
<legend><h3>"SEND MONEY $$$$"</h3></legend>
<fieldset>
  <ion-grid>
      <ion-row>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\scan.jpg" width="40" height="40">
            <p>SCAN</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\TO MOBILE.png" width="30" height="30">
            <p>TO MOBILE</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\SELF.png" width="30" height="30">
            <p>TO SELF</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\BANK.jpg" width="30" height="30">
            <p>TO BANK</p>
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>
  </fieldset>
<br>

<img src="assets\img\advertisement.jpg"style="width:500px;margin-top:30px">

<br>

<legend><h3> "OFFERS FOR YOU" </h3></legend>
<fieldset>
  <ion-grid>
      <ion-row>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\UPI OFFER.jpg" width="40" height="40">
            <p>upi offers</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\RUPEE.png" width="30" height="30">
            <p>save rupees on brands</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\OFFER.png" width="30" height="30">
            <p>popular offers</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\BALANCE.png" width="30" height="30">
            <p>balance & history</p>
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>
  </fieldset>
<br>
<legend><h3>"MY Paytm" </h3></legend>
<fieldset>
  <ion-grid>
      <ion-row>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\BALANCE.png" width="40" height="40">
            <p>Balance & History</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\bank.png" width="30" height="30">
            <p>Paytn Bank</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\WALLET.png" width="30" height="30">
            <p>Paytm Wallet</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\postpaid.jpg" width="30" height="30">
            <p>Paytm Postpaid</p>
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>
</fieldset>
<br>

<img src="assets\img\FRIEND.png"style="width:500px;margin-top:30px">
<br>


<legend><h3>"Loan & Credit Cards" </h3></legend>
<fieldset>
  <ion-grid>
      <ion-row>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\prepaid.png" width="40" height="40">
            <p>PAYTM PREPAID</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\PAY LOAN.png" width="30" height="30">
            <p>Pay Loan</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\OFFER.png" width="30" height="30">
            <p>Free Creadit Score</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\CREDIT CARD.png" width="30" height="30">
            <p>Paytm Credit Card</p>
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>
</fieldset>
<br>

<legend><h3>"Grow Your Wealth" </h3></legend>
<fieldset>
  <ion-grid>
      <ion-row>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\LIVE.png" width="40" height="40">
            <p>3 IPOs LIVE</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\FUND.png" width="30" height="30">
            <p>MUTUAL FUNDS</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\STOCK.png" width="30" height="30">
            <p>PAYTM STOCKS</p>
          </div>
        </ion-col>
        <ion-col size="3" size-lg="3">
          <div class="box-style" (click)="gotoDashboard()">
            <img src="assets\img\GOLD.png" width="30" height="30">
            <p>PAYTM GOLD</p>
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>
</fieldset>
<br>
</ion-content>


<br>
 
 