paytm {
    background-color: rgb(0, 0, 0);
    
    text-align: center;
  } 
       
  .box-style{background-color: #fff;  box-shadow: 1px 1px 7px 4px #efefef;  border-radius: 6px;
    padding: 4px 3px;height: 80px; text-align:center;
  }

.green{
  fill:#00AB80;
}
p {  
  margin: 4px 0px;
  font-size: 11px;
}